<style>
    .menu {
        display: flex;
        list-style: none;
        margin: 20px;
        justify-content: center;
    }

    .opcao-menu {
        padding-left: 10px;
    }
</style>
<ul class="menu">
    <li class="opcao-menu"><a href="/">Home</a></li>
    <li class="opcao-menu"><a href="/produtos/">Produtos</a></li>
    <li class="opcao-menu"><a href="/servicos/">Serviços</a></li>
    <li class="opcao-menu"><a href="#">Categorias</a></li>
    <li class="opcao-menu"><a href="#">Sobre nós</a></li>
</ul>