{% extends 'templates/base.html' %}
{% load static %}

{% block conteudo %}
    Listagem de serviços <a href="{% url 'cadastrar_servicos' %}">Novo serviço</a>
    {% for servico_do_vendedor in servicos_dos_vendedores %}
        <div>
            <h3>{{ servico_do_vendedor.vendedor.nome }}</h3>
        </div>
        <ul>
        {% for servico in servico_do_vendedor.servicos %}
            <li>{{ servico.nome }} - R$ {{ servico.preco }}</li>
            {% if servico.imagem %}
                <img src={{ servico.imagem.url }} class="imagem-produto" />
            {% else %}
                <img src={% static 'imagens/default.png' %} class="imagem-produto" />
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock conteudo %}
